[submodule "Source/ExternalLibs/assimp"]
	path = Source/ExternalLibs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Source/ExternalLibs/freetype2"]
	path = Source/ExternalLibs/freetype2
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "Source/ExternalLibs/lua"]
	path = Source/ExternalLibs/lua
	url = https://github.com/LuaDist/lua.git
[submodule "Source/ExternalLibs/ManualBuild/DirectXTK"]
	path = Source/ExternalLibs/ManualBuild/DirectXTK
	url = https://github.com/Microsoft/DirectXTK.git
[submodule "Source/ExternalLibs/ManualBuild/FX11"]
	path = Source/ExternalLibs/ManualBuild/FX11
	url = https://github.com/Microsoft/FX11.git
